{% extends 'backend.html.twig' %}
{% block title %} Liste globale des regions{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Jamboree 2019
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="breadcrumb-item active">Liste des regions</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-12">

                    <div class="box box-solid bg-dark">
                        <div class="box-header with-border">
                            <h6 class="box-subtitle">Liste des regions</h6>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>CODE</th>
                                        <th>NOM</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for region in regions %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ region.code }}</td>
                                            <td>{{ region.libelle|title }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/assets/vendor_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/css/master_style.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/jquery/dist/jquery.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/popper/dist/popper.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_components/fastclick/lib/fastclick.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/js/template.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/js/demo.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/js/pages/data-table.js')) }}"></script>

    <script src="{{ asset('backoffice/assets/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <script>
        $('.select2').select2();
    </script>
{% endblock %}
